<%- include('../includes/header.ejs'); -%>
<link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
      <header>
        <%- include('../includes/nav.ejs'); -%>
      </header>
      <main class="container-fluid">
            <header class="container">
                <div class="row">
                    <div class="col-sm">
                        <h1 class="text-center pt-5 pb-5"><%= title %></h1>
                    </div>
                </div>
            </header>
            <!-- create a page form -->
            <section class="container px-4">
                <div class="row">
                    <div class="col-sm-12 p-3">
                        <div class="bg-secondary p-3">
                            <form action="/admin/create-page" method="POST">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3">
                                            <label for="nameOfPage" class="form-label">Name of Page</label>
                                            <input type="text" class="form-control" id="nameOfPage" name="nameOfPage" placeholder="Name of Page">
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <label for="titleOfPage" class="form-label">Title</label>
                                            <input type="text" class="form-control" id="titleOfPage" name="titleOfPage" placeholder="Title of the New Page">
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label for="metaDescirptionOfPage" class="form-label">Meta</label>
                                            <input type="text" class="form-control" id="metaDescirptionOfPage" name="metaDescirptionOfPage" placeholder="SEO description of new page">
                                        </div>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary">Create a new page</button>
                                        </div>
                                    </div>
                                  <fieldset>
                              </form>
                        </div>
                    </div>
                </div>
            </section>

          <!-- current pages -->

          <section class="container px-4">
              <div class="row">
                <div class="col-sm-12 p-3">
                    <div class="mt-5 bg-light p-3">
                        <% if(elements.length > 0) { 
                            for (let i = 0; i  < elements.length; i++) { %>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                        <th scope="col">Name of Page</th>
                                        <th scope="col">Add Content</th>
                                        <th scope="col">Amend Page Details</th>
                                        <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td scope="row"><%= elements[i].nameOfPage %></td>
                                            <td></td>
                                            <td>
                                                <button type="button" 
                                                        onclick="editElement(this.id)" 
                                                        id="" 
                                                        aria-label="Edit the element">
                                                <span class="fas fa-user-edit"></span>
                                                </button>
                                            </td>
                                            <td>
                                                <form action="/admin/delete-page" method="POST">
                                                <fieldset>
                                                    <input id="deleteId" type="hidden" name="deleteId" value="<%= elements[i]._id %>">
                                                    <button type="submit"
                                                            aria-label="Edit the element"><span class="fas fa-trash"></span></button>
                                                </fieldset>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        <% } } else { %>
                            <p>At the moment there are currently no page created</p>


                        <% } %>
                    </div>
                </div>
          </section>
      </main>
  </body>
  <footer>


<%- include('../includes/footer.ejs'); -%>

